body {
    background-color: rgb(106, 192, 192);
}

h1 {
            font-family: 'Times New Roman', Times, serif;
            font-size: 100px;
            color: rgb(243, 243, 247);
}

h3 {
    font-family: "Lucida Console", "Courier New", monospace;
  }